@import url('https://fonts.googleapis.com/css?family=Special+Elite&display=swap');
html,
body {
    background-image: url(../images/image4.jpg);
    background-size: cover;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
}

.jumbotron {
    opacity: .7;
}

p,
span {
    font-size: 30px;
}

#answers {
    font-size: 30px;
}

#result {
    font-size: 30px;
}

.choices {
    /* float: right; */
    margin-left: 350px;
    font-weight: bolder;
}